beautifulsoup4==4.10.0
certifi==2022.12.7
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
Deprecated==1.2.13
Flask==2.0.2
google==3.0.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.1.1
pycparser==2.21
PyGithub==1.55
PyJWT==2.4.0
PyNaCl==1.4.0
python-dotenv==0.19.2
requests==2.26.0
six==1.16.0
soupsieve==2.3.1
urllib3==1.26.7
Werkzeug==2.2.3
wrapt==1.13.3
